<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Basic UI.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A82C91C61C7B4F7C0015DBC0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A82C91DA1C7B4F7C0015DBC0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A82C91E51C7B4F7C0015DBC0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
